.headerImg{
    max-width: 100% !important;
    min-width: 300px;
    max-height: 300px;
    min-height: 230px;
    height: auto;
    overflow: hidden;
}

.headerImgDiv{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.mgrid{
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr)) !important;
    grid-column-gap: 10px !important;
    max-width: 1300px !important;

}

.xcard{
    width:284px !important;
    margin-left: 55px !important;
    margin-right: 25px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important; 
}

.loadmore{
    color: #002f34 !important;
    border-radius: 4px !important;
    border: 2px solid #002f34 !important;
    font-weight: bold !important;
}

.loadmore:hover{
background-color: #002f34 !important;
color: white !important;
font-weight: bold !important;
}
.loadmore:focus{
    background-color: teal !important;
    color: white !important;
    font-weight: bold !important;
    }