.caticons{
font-size: 25px !important;
opacity: 0.5;
display: inline-block;
margin-right: 20px!important;

}

.outer{
    width: 900px !important;
    margin:auto;
}
.forwicon{
    font-size:  28px !important;
}
#subcat0{
    position: absolute;
    left: 50%;
    top:28%;
    width: 430px;
    display: none;
}
#subcat1{
    position: absolute;
    left: 50%;
    top:37%;
    width: 430px;
    display: none;
}

#subcat2{
    position: absolute;
    left: 50%;
    top:47%;
    width: 430px;
    display: none;
}

#subcat3{
    position: absolute;
    left: 50%;
    top:56%;
    width: 430px;
    display: none;
}

#subcat4{
    position: absolute;
    left: 50%;
    top:65%;
    width: 430px;
    display: none;
}

#subcat5{
    position: absolute;
    left: 50%;
    top:74%;
    width: 430px;
    display: none;
}

#subcat6{
    position: absolute;
    left: 50%;
    top:84%;
    width: 430px;
    display: none;
}

#subcat7{
    position: absolute;
    left: 50%;
    top:93%;
    width: 430px;
    display: none;
}
#subcat8{
    position: absolute;
    left: 50%;
    top:87%;
    width: 430px;
    display: none;
}
#subcat9{
    position: absolute;
    left: 50%;
    top:96%;
    width: 430px;
    display: none;
}
#subcat10{
    position: absolute;
    left: 50%;
    top:96%;
    width: 430px;
    display: none;
}
#subcat11{
    position: absolute;
    left: 50%;
    top:69.5%;
    width: 430px;
    display: none;
}
#subcat12{
    position: absolute;
    left: 50%;
    top:113.5%;
    width: 430px;
    display: none;
}
#subcat13{
    position: absolute;
    left: 50%;
    top:104.5%;
    width: 430px;
    display: none;
}
#ul>li:hover{
background-color :rgba(0,47,52,.2);
}

#ul>li:active{
background-color: rgb(33, 192, 209) !important;
color:white !important;
font-weight: bold !important;
}
a{
    text-decoration: none !important;
}
.subulli:hover{
    background-color :rgba(0,47,52,.2) !important;
}

.subulli:active{
    background-color: rgb(33, 192, 209) !important;
    color:white !important;
    font-weight: bold;
    }
.outerstrong{
    font-size: 16px;
   padding: 24px 30px 16px !important;
   line-height: 1.5;
   color:#002f34;
   font-weight: 700;
}