.carousel{
    background-color: black !important;
    max-width: 100%;
    width:100%;

}
  
.leftdiv{
    max-width: 65%;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

.postdetailimg{
    max-width: 100% !important;
    width:100% !important;
    height: 450px !important;
}

.carousel-inner{
    padding-left: 100px;
    padding-right: 100px;
}

.pdetails{
    max-width: 100%;
    width:100%;
}
.rightdiv{

    max-width: 35%;
    width: 100%;
   display:flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

}

.hr{
    width:98% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.cwseller{
background-color:#002f34 !important;
color:white !important;
font-weight: bold !important;
}
.cwseller:hover{
    background-color: transparent !important;
    border: 2px solid #002f34 !important;
    color:#002f34 !important;
    font-weight: bold;
}
.shownum{
    text-decoration: underline;
    color:blue;
    margin-left: 5px;
    cursor: pointer;
}
.numdiv{
    margin-top: 15px;
    font-size: 12px !important;
}
.innerpostedinp{

        margin-top: 0px;
        margin-bottom: 5px;
}

.main{
    display: flex;
    justify-content: flex-start !important;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.pannel{
    overflow: scroll !important;
    width: auto !important;
}

.icounter{
    position: absolute;
    bottom:  10px;
    right :45px;
    color:white;
}