/* 
@media screen and (max-width: 1500px) and (min-width: 978px) {
    .mgrid{
    text-align: center !important;
    display: grid;
    }

    .xcard{
        display: flex;
        justify-content: space-between !important;
        width: 284px !important;
        text-align: left !important;
    }

  }

  @media screen and (max-width: 977px) and (min-width: 662px) {
    .mgrid{
    text-align: center !important;
    display: grid;
    }
    .xcard{
        width: 284px !important;
        text-align: left !important;       
    }
    .fresh{
        text-align: center !important;
    }
    .footerBanner{
       flex-wrap: wrap;
       justify-content: center;

    }
    .bannerTitle{
       border: 0px;
        padding-left: 10px !important;
   
       }
    .bannerlinkImg {
        margin-top: 10px !important;
    }
    
  }

  @media screen and (max-width: 661px) and (min-width: 594px) {
    .mgrid{
    text-align: center !important;
    display: grid;
    }
    .xcard{
        width: 250px !important;
        text-align: left !important;       
    }
    .fresh{
        text-align: center !important;
    }
    .footerBanner{
        flex-wrap: wrap;
        justify-content: center;
 
     }
     .bannerTitle{
        border-left: 1px solid gray !important;
        padding-left: 20px !important;
   
       }
       .mobnav{
        display: flex !important;
        background-color: red !important;
    }
    
  }


  @media screen and (max-width: 593px) and (min-width: 550px) {
   #root{
       min-width: 100px;
       box-sizing: border-box !important;
   }
   
    .mgrid{
    text-align: center !important;
    display: grid;
    }
    .xcard{
        width: 41vw !important;
        text-align: left !important;       
    }
    .fresh{
        text-align: center !important;
    }
    .footerBanner{
        flex-wrap: wrap;
        justify-content: center;
 
     }
    
     .bannerTitle{
        border-left: 1px solid gray !important;
        padding-left: 20px !important;
   
       }

    .mainrow{
        display: flex !important;
        width: auto !important;
    }
    .ldiv{
        text-align: center !important;
        width: 100px !important;
    }
    ._3W9XC{
        width: 390px !important;
        }

    .hsearch,.csearch{
        width:185px !important;
    }
    .x2{
        width:100px !important
    }
    ._21nYN{
        margin: 0;
        padding: 0;
        z-index: 1;
        text-align: center;
        position: fixed;
        bottom: 50px;
        left: 42%;
        width: 16vw !important;
        display: block;
        transition-property: bottom;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0,1,.5,1);
    }


}
      */

@media screen and (max-width: 767px){
    .desktopnav{
        display: none;
    }
    .mobnav{
        display:flex !important;
    }
}


@media screen and (max-width: 661px) and (min-width: 320px) {
    #root{
        min-width: 300px;
        box-sizing: border-box !important;
    }
    
     .mgrid{
     text-align: center !important;
     display: grid;
     margin: auto !important;
     }
     
     .xcard{
         text-align: left !important;       
     }
     .fresh{
         text-align: center !important;
         font-size: 20px !important;
     }
     .footerBanner{
         flex-wrap: wrap;
         justify-content: center;
  
      }
     
      .bannerTitle{
         border-left: 1px solid gray !important;
         padding-left: 20px !important;
    
        }

        .bannerlinkImg {
            margin: auto !important;
        }
    
 
     .mainrow{
         display: flex !important;
         width: auto !important;
         height: 30px !important;
     }
     .logo{
         width: 100%;
         max-width: 45px;
         height: 100%;
     }
     .ldiv{
         text-align: center !important;
         width: 100px !important;
     }
     ._3W9XC{
         width: 390px !important;
         }
 
     .hsearch,.csearch{
         width:185px !important;
     }
     .x2{
         width:100px !important
     }
     ._21nYN{
         margin: 0;
         padding: 0;
         z-index: 1;
         text-align: center;
         position: fixed;
         bottom: 50px;
         left: 35%;
         width: 104px !important;
         display: block;
         transition-property: bottom;
         transition-duration: .5s;
         transition-timing-function: cubic-bezier(0,1,.5,1);
     }

     .DrSmZ {
        display: inline-flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        color: #002f34;
    }

     .leftdiv{
         width: 100% !important ;
         
     }
     .carousel{
        background-color: black !important;
        width:100%; 
        margin: auto;

    
    }

    .pdetails{
        width:100%;
        margin: 10px auto auto auto !important;
     }

    .postdetailimg{
        width:100% !important;
        height: 350px !important;
        object-fit: fill !important;
    }

   .leftdiv{
       max-width: 100%;
       padding: 5px;
   }
   
    
    .rightdiv{
        max-width: 100%;
       width:100%;
       margin-top: 5px;
       margin-bottom: 5px;
       padding: 5px;
    }

    .inner{
        margin: 0px auto auto auto !important;
        width: 100% !important;
     }
    
    .carousel-inner{
        padding-left: 50px;
        padding-right: 50px;
    }

    .main{
        display: flex !important;
        flex-direction: column;
    }
    
    div.col-md-3.type,div.col-md-3.typed,div.col-md-3.cond,div.col-md-3.condd{
        width: 50%;
    }

    /* categories */
    .outer{
        max-width: 100% !important;
        min-width: 350px !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items:center !important;
        flex-direction: column !important;
        font-size: 11px !important;
    }
    .ul{
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 300px !important;
    display: flex;
    flex-direction: column;
    }
    .ul>li{
        max-width: 50% !important;
        width: 100% !important;
    }

    #subcat0,#subcat1,#subcat2,#subcat3,#subcat4,#subcat5,#subcat6,#subcat7,#subcat8,#subcat9,#subcat10,#subcat11,#subcat12,#subcat13{
        width: 100% !important; 
        max-width: 45% !important;    
    }

    .icounter{
        position: absolute;
        bottom:  10px;
        right :16px;
        color:white;
    }
    .headerImg{
        min-height: 140px;
        height: auto;
        overflow: hidden;
    }
    .adinp-sub{
        font-size: 10px;
        margin-right: 0px;
    }
    .ad-inp{
        font-size: 9px;
    }
    .txt-inp{
        font-size:9.5px;
    }
    .txtinp-sub{
        font-size: 9.5px;
        margin-right: 0px;
    }

 }
